{{ if gt (len .Site.Languages) 1 }}
<span class="language-toggle unselectable">
    {{ $currentLang := .Site.Language.Lang }}
    {{ range .Site.Languages }}
        {{ if eq $currentLang .Lang }}
            <span class="lang-current" title="{{ .Lang }}">{{ .LanguageName }}</span>
        {{ else }}
            {{/* Try to find translated version of current page */}}
            {{ $targetURL := printf "/%s/" .Lang }}
            {{ if $.IsTranslated }}
                {{ range $.Translations }}
                    {{ if eq .Lang $.Lang }}
                    {{ else }}
                        {{ $targetURL = .Permalink }}
                    {{ end }}
                {{ end }}
            {{ end }}
            <a href="{{ $targetURL }}" class="lang-link" title="{{ .Lang }}">{{ .LanguageName }}</a>
        {{ end }}
    {{ end }}
</span>
<style>
.language-toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.lang-current {
    opacity: 1;
    cursor: default;
    padding: 0.1rem 0.2rem;
    border-bottom: 2px solid currentColor;
}
.lang-link {
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 0.2s ease;
    padding: 0.1rem 0.2rem;
}
.lang-link:hover {
    opacity: 1;
}
</style>
{{ end }}
